h1{
    color: lightblue;
    background-color: black;
    font-family: serif;
    text-align: center;
    font-size: 50px;
}
p{
    font-family: Georgia;
    color: gray;
}
footer{
    font-family: 'Trebuchet MS';
    color: darkred;
    text-align: center;
}
nav{
    color: blue;
    text-align: center;
}
a:hover{
    color: red;
    font-weight: bold;
}
figcaption{
    text-align: center;
}
table, td{
    border-color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}