h1{
    color: lightblue;
    background-color: black;
    font-family: serif;
    text-align: center;
    font-size: 50px;
}
ul{
    color: lightgray;
    font-weight: bold;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
a:hover{
    color: red;
    font-weight: bold;
}
nav{
    color: blue;
    text-align: center;
}
footer{
    font-family: 'Trebuchet MS';
    color: darkred;
    text-align: center;
}
strong{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}