h1{
    text-align: center;
    color: lightblue;
    background-color: black;
}
form{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25px 25px 25px 25px;
    grid-template-areas: "a b c d"
                        "e f g h"
                        "reset reset submit submit";
}
#a{
    grid-column-start: 1;
}
#b{
    grid-row: 1;
    grid-column-start: 3;
}
#c{
    grid-row: 2;
    grid-column-start: 1;
}
#d{
    grid-row: 3;
    grid-column-start: 1;
}
#e{
    grid-row: 3;
    grid-column-start: 2;
}
#f{
    grid-row: 3;
    grid-column-start: 3;
}
#g{
    grid-row: 3;
    grid-column-start: 3;
}
#h{
    grid-row: 4;
    grid-column-start: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.widthDouble{
    grid-column: span 2;
}
#reset{
    background-color: black;
    color: white;
    border-color: red;
    border: 2px 2px 2px 2px;
    grid-row: span 2;
}
#submit{
    background-color: black;
    color: white;
    border-color: red;
    border: 2px 2px 2px 2px;
    grid-row: span 2;
}
